.black{
    background-color: rgb(76, 76, 76);
}
.white{
    background-color: rgb(210, 210, 210);
}
.loader{
    align-items: center;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: red;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    height: 50px;
    width: 50px;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}